
.card {
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
    border-radius: 30px;
    display: block;
    margin: 70px 155px;
    border: 0.5px solid #c1c0b9;
    box-shadow:  7px 7px 13px #3b0944;
    max-width: 900px;
    max-height: 700px;
}

.col {
    display: grid;
    grid-template-rows: max-content 80px 1fr;
    border: 0.005px solid #c1c0b9;
    margin: 5px 50px;
    max-height: 190px;
    max-width: 180px;
    text-align: center;
    align-items: center;
}
hr {
    color: #fcfefe;
}

.weather-temperature .active{
    color: #ff467e;
    cursor: default;
    text-decoration: none;

}

.weather-temperature .active:hover{
   text-decoration: none;
    
}


h1 {
    color: #3b0944;
    font-family:'Lato', sans-serif;
    font-size: 15px;
    position: relative;
    left: 5px;
    
}

h2 {
     color: #3b0944;
    font-family:'Lato', sans-serif;
    font-size: 15px;
    position: static;
    left: 5px;
}

#Astronaut  {
  animation: astronautMoving infinite 3s linear;
}

@keyframes astronautMoving {
  0% {
    
    transform: rotate(0) translate3D(-50%, -50%, 0);
  }
  30% {
    
  }
  100% {
    
    transform: rotate(360deg) translate3D(-50%, -50%, 0);
  }
}




ul{
    color: #3b0944;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    list-style: none;
    text-align: center;
   position: relative;
  left: 0%;
  bottom: 16%;

    


}

input {
    border-radius: 10px;
    padding: 3px 5px;
    margin: 10px 3px 10px;
    border: 1px solid #3b0944;
    position: relative;
    left: 33%;
    color: #383838;
    background: #fcfefe;
}
.btn-btn-primary{
    color: #fcfefe;
    background: #5e227f;
    padding: 8px;
    border: 1px solid #3b0944;
}
    

.temperature {
    font-size: 22px;
    font-family:'Lato', sans-serif;
    color: #38598b;
    position: relative;
    left: 5px;
}

.units {
    margin-left: 6px;
}

.description {
  font-family: 'Lato', sans-serif;
  color: #38598b;
  font-size: 22px;
  position: relative;
  left: 5px;
}

.description :first-letter{
    text-transform: capitalize;
}
footer {
    text-align: center;
    text-decoration: none;
    display: block;
    
}