
.card {
    background-image: url(Outdoor.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position:center bottom;
    border-radius: 30px;
    margin: 70px 140px;
    border: 2px solid #ffb5b5;
    box-shadow:  7px 7px 13px #ff467e;
}

h1 {
    color: #ffb5b5;
    font-family:'Caveat', cursive;
    font-size: 50px;
    position: relative;
    left: 5px;
    
}

h2 {
     color: #ffb5b5;
    font-family:'Caveat', cursive;
    font-size: 40px;
    position: relative;
    left: 5px;
}



ul{
    color: #225763;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    list-style: none;
    text-align: center;
    position: fixed;
    left: 40%;
    bottom: 38%;

    


}

input {
    border-radius: 10px;
    text-align: center;
    padding: 3px 5px;
    margin: 10px 3px 10px;
    border: 2px solid #ffb5b5;
    position: relative;
    left: 25%;
    color: #757a79;
    background: #ffcbcb;
}

    

.temperature {
    font-size: 22px;
    font-family:'Caveat', cursive;
    color: #225763;
    position: relative;
    left: 5px;
}
