
.card {
    background-image: url(mario.png);
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin: 70px 140px;
    border: 2px solid #68a8a8;
    box-shadow:  7px 7px 13px #347474;
}

h1,h2 {
    color: #fde9df;
    position: relative;
    left: 43%;
    top: 15%;
}


ul{
    list-style: none;
    position: relative;


}

input {
    border-radius: 20px;
    text-align: center;
    margin: 10px 3px 10px;
    
    
}

.temperature {
    font-size: 18px;
    color:#f5feff;
    position: relative;
    left: 10%;
}
